.nav {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
}

.links:hover {
    float: right;
    background: white;
    padding: 5px;
    color: #280137;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.7s;
}

h1 {
    padding-left: 10px;
    color: greenyellow;
    background-color: rgb(16, 93, 236);
    font-weight: bold;
    display: flex;
    margin: 0;
    font-size: 26px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;}

.space{
    display: flex;
    float: left;
}
