.nav {
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: white;
    background-color: black;
    padding: 10px 15px;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
}

.links:hover {
    float: right;
    background: whitesmoke;
    color: #280137;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.7s;
}

.header {
    padding-left: 10px;
    color: greenyellow;
    background-color: rgb(16, 93, 236);
    font-weight: bold;
    font-size: 26px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.p {
    display: inline-flex;

}

.space{
    display: flex;
    float: left;
}


a {
    text-decoration: none;
}

