/* Global styles (if any) */

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(50, 50, 50);
}

.productDetails {
  max-width: 800px;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(20, 255, 236, 0.5);
  color: rgb(13, 115, 119);
  text-align: center;
}

.productDetails h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(13, 115, 119);
}

.specificationsContainer {
  margin-bottom: 20px;
}

.specificationItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.quantityBtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(20, 255, 236);
  color: rgb(13, 115, 119);
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantityDisplay {
  font-size: 18px;
  font-weight: bold;
}

.addToCartBtn,
.removeFromCartBtn,
.proceedToPaymentBtn {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.addToCartBtn {
  background-color: rgb(20, 255, 236);
}

.removeFromCartBtn {
  background-color: rgb(50, 50, 50);
}

.proceedToPaymentBtn {
  background-color: rgb(13, 115, 119);
}

.addToCartBtn:hover,
.removeFromCartBtn:hover,
.proceedToPaymentBtn:hover {
  background-color: #ffffff;
  color: rgb(13, 115, 119);
}

.cartIcon {
  margin-right: 5px;
}

.paymentContainer {
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(20, 255, 236);
  border-radius: 10px;
}

.paymentContainer h3 {
  margin-bottom: 10px;
}

.paymentContainer label {
  display: block;
  margin-bottom: 5px;
}

.paymentContainer input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(13, 115, 119);
  margin-bottom: 10px;
}

.finishPaymentBtn {
  padding: 14px 30px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(13, 115, 119);
  width: 100%;
  transition: background-color 0.3s ease;
}

.finishPaymentBtn:hover {
  background-color: rgb(20, 255, 236);
  color: rgb(13, 115, 119);
}

.feedbackMessage {
  text-align: center;
  margin-top: 20px;
  color: rgb(13, 115, 119);
  font-weight: bold;
}

.error {
  color: red;
}

input[type="radio"] {
  margin-right: 5px;
}
