
/* Products Styles */
.products {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  overflow: hidden;
  background-color: #323232;

  /* justify-content: center; */
  overflow: hidden; /* Elimină scroll-ul */

}

.products .heading {
  margin: 35px 0;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(13, 115, 119), rgb(20, 255, 236), rgb(13, 115, 119));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}


.products .box {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: flex-start;
  justify-items: center;
}

.products .box .card {
  width: 100%;
  max-width: 300px;
  height: 450px;
  box-shadow: 0 0 8px rgb(20, 255, 236);
  border-radius: 5px;
  text-align: center;
  padding: 0;
  background: #0D7377;
  transition: 0.3s;
  overflow: hidden;
  border: 2px solid #14FFEC;
  cursor: pointer;
}

.products .box .card:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.products .box .card .image {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.products .box .card .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
  transform-origin: center center;
}

.products .box .card .small_card {
  height: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.products .box .card .small_card .brand,
.products .box .card .small_card .os {
  color: #14FFEC;
  font-size: 14px;
}

.products .box .card:hover ~ .card,
.products .box .card:hover ~ .card .image,
.products .box .card:hover ~ .card .small_card {
  transform: scale(0.9);
  transition: 0.3s;
  z-index: 0;
}

.products .box .card:hover ~ .card:nth-child(n+6),
.products .box .card:hover ~ .card:nth-last-child(n+6) {
  transform: scale(1);
}

/* Button Show More and Show Less */
.btn-show {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border: 3px solid #14FFEC;
  border-radius: 5px;
  background-color: transparent;
  color: #14FFEC;
  font-size: 16px;
  cursor: pointer;
  background-color: #0D7377;
  box-shadow: 0 0 8px rgb(20, 255, 236);
}

.btn-show:hover {
  border: 3px solid #0D7377;
  background-color: #14FFEC;
  color: #0D7377;
  box-shadow: 0 0 8px rgb(13, 115, 119);
}

.searchInput {
  width: 100%;
  max-width: 300px;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .products .box {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .products .box .card {
    max-width: 200px;
    height: 350px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .products .box {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
  }

  .products .box .card {
    max-width: 250px;
    height: 400px;
  }
}