.App {
  background-image: url("./cloud.jpg");
}

body {
  margin: 0px;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .App {
    border-radius: 10px;
  }
  html {
    background-color: #212121;
  }
}
